.gitattributes
.gitignore
.testignore
gulpfile.js
tsconfig.json
tslint.json
vsc-extension-quickstart.md
ThirdPartyNotices.txt
yarn.lock

.vscode/**
.vscode-test/**
images/**
out/test/**
out/**/*.map
visualizer-src/**
python-visualizer/**
pythonFiles/pydev/__pycache__/**
src/**
testExtension/**

# Exclude all node_modules (gitignored), then re-include production deps
node_modules/**
!node_modules/python-shell/**
!node_modules/tree-kill/**
!node_modules/uint64be/**